<h1><%= @team.name %></h1>
<li>
<b> <%= link_to 'Back', {:action => 'index'}%></b>
<span>  |  </span>
<b> <%= link_to 'Edit', {:action => 'edit', :id => @team.id} %></b>
<span>  |  </span>
<b> <%= link_to 'Destroy', team_path(@team), method: :delete, data: { confirm: 'Are you sure?' } %></b>
</li>