<% if @players.blank? %>
<p>There are not any players currently in the system.</p>
<% else %>
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h2>Players</h2>
	</div>

	<!-- Table -->
	<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |c| %>
		<tr>
			<th>
				<%= link_to c.name, {:action => 'show', :id => c.id} -%>
			</th>
			<th>
				<%= link_to c.position, {:action => 'show', :id => c.id} -%>
			</th>
		</tr>
			<% end %>
		</tbody>
		</table>
	</div>

	<% end %>