/*
* Index.css
*/
.top_banner{
	background-color: blue;
	height: 40px;
	width: 100%;
}
.line_signin{
	margin-top:10px;
	margin-bottom: 10px;
	height: 20px;
	width: 100%;
	float: left;
	position: relative;
}
.name_sign{
	width: auto;
	height: 20px;
	position: relative;
	float: right;
	display: inline;
	margin-right: 10px;
}
.btn_sign{
	text-decoration: none;
	width: 50px;
	line-height: 16px;
	float: right;
	position: relative;
	display: inline;
	background-color: black;
	color: #909090;
	padding: 3px;
	font-size: 10px;
	text-align: center;
}

.btn_sign:hover {
    background-color: #484848;
    color: white;
}
.banner{
	height: 150px;
	width: 100%;
	float: left;
	position: relative;
	display: inline;
	background-image: url(http://www.teambath.com/wp-content/uploads/2011/04/Banner-Lock-03-Newport-County-250808.jpg);
	border-bottom: 1px solid #564A45;
}
.menu{
	float: left;
	position: relative;
	display: inline;
	width: 100%;
	height: 50px;
    background-color: rgba(0, 47, 255, 0.8);
    background: rgba(0, 47, 255, 0.8);
    color: rgba(0, 47, 255, 0.8);
	margin-top: 99px;
}
.btn_menu{
	text-decoration: none;
	width: 90px;
	line-height: 50px;
	float: left;
	position: relative;
	display: inline-block;
	color: white;
	font-size: 16px;
	text-align: center;
}

.btn_menu:hover {
    background-color: blue;
    color: white;
}
.views{
    /*background-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);*/
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    display: inline;
    padding-bottom: 50px;
}
.footer {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
    background: blue;
    border-top: 1px solid #564A45;
}
/*
* login.css
*/
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.name_view{
	position: relative;
	float: left;
	display: inline;
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #564A45;
	border-radius: 5px;
	padding-left: 5%;
	padding-right: 5%;
}
.body_view{
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	height: 100%;
}
/*
* Teams
*/
.panel-heading{
	text-align: center;
}
.team_name{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10px;
	width: 70%;
	height: 100%;
	color: blue;
	border: 1px solid #564A45;
	border-radius: 5px;
	background-color: #E7E7E7;
}
.team_players{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10px;
	width: 70%;
	height: 100%;
	color: black;
	background-image: url(https://www.dreamteamfc.com/sfdt/images/generic/myTeam-pitch.png);
}
.panel-default{
	background-color: transparent;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em;
    color: gray;
}