/*
* Index.css
*/
html,body{
    height: 100%
}
#body{
	position: relative;
	display: inline;
	float: left;
    padding-bottom: 50px;    /* height of footer */
}
#holder{
    min-height: 100%;
    position:relative;
}
.top_banner{
	background-color: blue;
	height: 40px;
	width: 100%;
}
.line_signin{
	margin-top:10px;
	margin-bottom: 10px;
	height: 20px;
	width: 100%;
	float: left;
	position: relative;
}
.name_sign{
	width: auto;
	height: 20px;
	position: relative;
	float: right;
	display: inline;
	margin-right: 10px;
}
.btn_sign{
	text-decoration: none;
	width: 50px;
	line-height: 16px;
	float: right;
	position: relative;
	display: inline;
	background-color: black;
	color: #909090;
	padding: 3px;
	font-size: 10px;
	text-align: center;
}

.btn_sign:hover {
    background-color: #484848;
    color: white;
}
.banner{
	height: 150px;
	width: 100%;
	float: left;
	position: relative;
	display: inline;
	background-image: url(http://www.teambath.com/wp-content/uploads/2011/04/Banner-Lock-03-Newport-County-250808.jpg);
	border-bottom: 1px solid #564A45;
}
.menu{
	float: left;
	position: relative;
	display: inline;
	width: 100%;
	height: 50px;
    background-color: rgba(0, 47, 255, 0.8);
    background: rgba(0, 47, 255, 0.8);
    color: rgba(0, 47, 255, 0.8);
	margin-top: 99px;
}
.btn_menu{
	text-decoration: none;
	width: 90px;
	line-height: 50px;
	float: left;
	position: relative;
	display: inline-block;
	color: white;
	font-size: 16px;
	text-align: center;
}

.btn_menu:hover {
    background-color: blue;
    color: white;
}
.views{
    /*background-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);*/
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    display: inline;
}
.footer {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: white;
	bottom: 0px;
	left: 0px;
    background: blue;
    border-top: 1px solid #564A45;
    position: fixed;
}
/*
* login.css
*/
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.name_view{
	position: relative;
	float: left;
	display: inline;
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #564A45;
	border-radius: 5px;
	padding-left: 5%;
	padding-right: 5%;
}
.body_view{
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	height: 100%;
}
/*
* Teams
*/

.team_name{
	text-align: left;
	float: left;
	position: relative;
	display: inline;
	width: 50%;
	height: 65px;
}
.team_menu_btn{
	text-align: right;
	float: left;
	position: relative;
	display: inline;
	padding-top: 20px;
	width: 50%;
	height: 65px;
}
.team_players{
	float: left;
	position: relative;
	display: inline;
	text-align: center;
	margin-top: 10px;
	width: 70%;
	height: 100%;
	color: black;
	background-image: url(https://www.dreamteamfc.com/sfdt/images/generic/myTeam-pitch.png);
}
.team_body{
	float: left;
	position: relative;
	display: inline;
	text-align: center;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}
.panel-default{
	background-color: transparent;
}

.username{
	color: blue;
	font-size: 12px;
}
.title{
	color: black;
	font-size: 14px;
}
.body{
	color: black;
	font-size: 10px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em;
    color: gray;
}

/*Comment box*/

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
		float: left;
	position: relative;
	display: inline;
    width:29%;
    margin-left: 1%;
    border:1px solid #bbb;
    margin-top: 10px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

/*Sign up*/

#session_email{
position: relative;
left: 30px;
top: -5px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
color: #555;
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#session_password
{
	position: relative;

	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

input[type=submit] {    
	left: 60px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #FFF;
	border-color: #CCC;
}

#user_email
{
	position: relative;
	left: 30px;
	top: -5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#user_password
{
	position: relative;

	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.sign-in{
	position: relative;
	float: left;
	display: inline;
	padding-left: 35%;
	width: 75%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}